<div id="<%= dom_id subscription %>">
  <p>
    <strong>Card number:</strong>
    <%= subscription.card_number %>
  </p>

  <p>
    <strong>Card expiry:</strong>
    <%= subscription.card_expiry %>
  </p>

  <p>
    <strong>Cvc:</strong>
    <%= subscription.cvc %>
  </p>

</div>
