<div id="<%= dom_id subscription %>">
  <p>
    <strong>Card number:</strong>
    <%= '************' + subscription.card_number.last(4) %>
  </p>

  <p>
    <strong>Card expiry:</strong>
    <%= subscription.card_expiry %>
  </p>

  <p>
    <strong>Cvc:</strong>
    <%= "***" %>
  </p>

</div>
